#row_ingenico_epayments_checkout_inline_payments .value input {
    margin:  0 .5em 0 -0.6em;
}

#row_ingenico_epayments_checkout_inline_payments .value input:first-child {
    margin: 0 .5em 0 0;
}


#row_ingenico_epayments_checkout_inline_payments .value label::after {
    content: "\A";
    display: block;
    padding: .25em 0;
}

#row_ingenico_epayments_checkout_inline_payments .value label:last-of-type::after {
    display: none;
}

