<config>
    <sections>
        <ingenico_epayments translate="label" module="netresearch_epayments">
            <label>Ingenico ePayments</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>500</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" module="netresearch_epayments">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <version translate="label">
                            <label>Version</label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_version</frontend_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </version>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                    </fields>
                </general>
                <settings translate="label" module="netresearch_epayments">
                    <label>Account Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <tooltip>This controls if the payment method is visible in the checkout.</tooltip>
                            <comment><![CDATA[Show payment method in checkout]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <api_endpoint translate="label">
                            <label>API Endpoint</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_endpoint>
                        <api_endpoint_secondary>
                            <label>API Endpoint (Secondary)</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <comment><![CDATA[Fallback if primary endpoint fails.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_endpoint_secondary>
                        <api_key translate="label">
                            <label>API Key</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_key>
                        <api_secret translate="label">
                            <label>API Secret</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </api_secret>
                        <merchant_id translate="label">
                            <label>MID (Merchant ID)</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </merchant_id>
                        <descriptor translate="label">
                            <label>Soft Descriptor</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </descriptor>
                        <hosted_checkout_subdomain translate="label">
                            <label>Hosted Checkout Subdomain</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </hosted_checkout_subdomain>
                        <log_all_requests translate="label">
                            <label>Log All Requests</label>
                            <tooltip>Select if you want to log the communication between Ingenico and your shop.</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_logAllRequests</frontend_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </log_all_requests>
                    </fields>
                </settings>
                <checkout translate="label" module="netresearch_epayments">
                    <label>Checkout Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment>Configuration of the Magento checkout</comment>
                    <fields>
                        <inline_payments translate="label">
                            <label>Enable inline payments</label>
                            <comment>
                                Note that the use of inline payments requires your Magento store
                                to be PCI compliant on level SAQ-A EP.
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </inline_payments>
                    </fields>
                </checkout>
                <captures translate="label" module="netresearch_epayments">
                    <label>Capture Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[Configuration of payment capture operations]]></comment>
                    <fields>
                        <capture_mode translate="label">
                            <label>Capture mode</label>
                            <tooltip>Select the capture operation mode. Default is 'Delayed Settlement'</tooltip>
                            <frontend_type>select</frontend_type>
                            <source_model>Netresearch_Epayments_Model_Adminhtml_System_Config_Source_CaptureMode</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </capture_mode>
                    </fields>
                </captures>

                <webhooks translate="label" module="netresearch_epayments">
                    <label>Webhooks</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>11</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <comment><![CDATA[Configuration of the Webhooks integration]]></comment>
                    <fields>
                        <key_id>
                            <label>Key ID</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key_id>
                        <secret_key>
                            <label>Secret Key</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </secret_key>
                        <key_id_secondary>
                            <label>Key ID (Secondary)</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <comment><![CDATA[Fallback if primary key fails.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </key_id_secondary>
                        <secret_key_secondary>
                            <label>Secret Key (Secondary)</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <comment><![CDATA[Fallback if primary key fails.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </secret_key_secondary>
                    </fields>
                </webhooks>
                <pending_orders_cancelation type="group" translate="label">
                    <label>Cancellation of Pending Orders</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <sort_order>11</sort_order>
                    <fields>
                        <days translate="label">
                            <label>Number of days before cancellation</label>
                            <tooltip>Abandoned orders will be cancelled after this many days.</tooltip>
                            <comment><![CDATA[This requires working Magento Cronjobs!]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </days>
                    </fields>
                </pending_orders_cancelation>
                <fraud>
                    <label>Fraud Notification</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <sort_order>12</sort_order>
                    <fields>
                        <manager_email translate="label">
                            <label>Manager Email</label>
                            <tooltip>If a possible fraud is detected, a notification will be sent to this email address.</tooltip>
                            <comment><![CDATA[Destination email address for Fraud notifications.]]></comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-email required-entry</validate>
                            <backend_model>adminhtml/system_config_backend_email_address</backend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </manager_email>
                    </fields>
                </fraud>
                <payment_statuses translate="label" module="netresearch_epayments">
                    <label>Payment Statuses Frontend Output</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>13</sort_order>
                    <comment><![CDATA[This is a list of <strong>payment statuses</strong> and their <strong>definition</strong>.<br />
                    Source for <strong>default definitions</strong>: <a href="https://developer.globalcollect.com/documentation/api/server/#__merchantId__payments__paymentId__get"
                    target="_blank" style="color:#ea7601">API Documentation - Get payment</a><br />
                    You can specify custom definition texts for the statuses.]]></comment>
                    <fields>
                        <ACCOUNT_VERIFIED>
                            <label>ACCOUNT_VERIFIED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </ACCOUNT_VERIFIED>
                        <CREATED>
                            <label>CREATED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </CREATED>
                        <REDIRECTED>
                            <label>REDIRECTED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </REDIRECTED>
                        <PENDING_PAYMENT>
                            <label>PENDING_PAYMENT</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </PENDING_PAYMENT>
                        <PENDING_FRAUD_APPROVAL>
                            <label>PENDING_FRAUD_APPROVAL</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </PENDING_FRAUD_APPROVAL>
                        <PENDING_APPROVAL>
                            <label>PENDING_APPROVAL</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </PENDING_APPROVAL>
                        <PENDING_CAPTURE>
                            <label>PENDING_CAPTURE</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </PENDING_CAPTURE>

                        <REJECTED>
                            <label>REJECTED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </REJECTED>
                        <AUTHORIZATION_REQUESTED>
                            <label>AUTHORIZATION_REQUESTED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </AUTHORIZATION_REQUESTED>
                        <CAPTURE_REQUESTED>
                            <label>CAPTURE_REQUESTED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </CAPTURE_REQUESTED>
                        <CAPTURED>
                            <label>CAPTURED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </CAPTURED>
                        <PAID>
                            <label>PAID</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </PAID>
                        <CANCELLED>
                            <label>CANCELLED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </CANCELLED>
                        <REJECTED_CAPTURE>
                            <label>REJECTED_CAPTURE</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </REJECTED_CAPTURE>
                        <REVERSED>
                            <label>REVERSED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </REVERSED>
                        <CHARGEBACKED>
                            <label>CHARGEBACKED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </CHARGEBACKED>
                        <REFUNDED>
                            <label>REFUNDED</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </REFUNDED>
                    </fields>
                </payment_statuses>
                <payment_method_groups translate="label" module="netresearch_epayments">
                    <label>Payment Methods Frontend Output</label>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>13</sort_order>
                    <comment><![CDATA[This is a list of <strong>payment methods</strong> by which payment options are grouped in the checkout.<br />
                    You can specify <strong>custom titles</strong> for these methods.]]></comment>
                    <fields>
                        <TOKEN>
                            <label>token</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </TOKEN>
                        <BANKTRANSFER>
                            <label>bankTransfer</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </BANKTRANSFER>
                        <CARD>
                            <label>card</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </CARD>
                        <CASH>
                            <label>cash</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </CASH>
                        <DIRECTDEBIT>
                            <label>directDebit</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </DIRECTDEBIT>
                        <EINVOICE>
                            <label>eInvoice</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </EINVOICE>
                        <INVOICE>
                            <label>invoice</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </INVOICE>
                        <REDIRECT>
                            <label>redirect</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <frontend_model>netresearch_epayments/adminhtml_system_config_field_expanded
                            </frontend_model>
                            <style>height:4em</style>
                        </REDIRECT>
                    </fields>
                </payment_method_groups>
                <email_settings translate="label" module="netresearch_epayments">
                    <label>Customer Notification Email Settings</label>
                    <comment><![CDATA[Select if and when notification emails to the customer should be sent.]]></comment>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <payment_successful translate="label">
                            <label>Payment Successful</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_successful>
                        <payment_rejected translate="label">
                            <label>Payment Rejected</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_rejected>
                        <fraud_suspicion translate="label">
                            <label>Fraud Suspicion</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </fraud_suspicion>
                        <action_needed translate="label">
                            <label>Customer Action Needed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </action_needed>
                        <delayed_settlement translate="label">
                            <label>Delayed Settlement</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delayed_settlement>
                        <slow_3rd_party translate="label">
                            <label>Slow 3rd Party</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </slow_3rd_party>
                    </fields>
                </email_settings>
                <sftp_settings translate="label" module="netresearch_epayments">
                    <label>WX File SFT Settings</label>
                    <comment><![CDATA[Configuration for retrieving the <em>.wx</em> files from Ingenico.]]></comment>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active</label>
                            <comment><![CDATA[Configure if automatic WX file polling is active.]]></comment>
                            <tooltip><![CDATA[Only needed for GlobalCollect accounts]]></tooltip>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <frontend_type>select</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <sftp_host translate="label">
                            <label>Host</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <comment><![CDATA[SFTP hostname]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </sftp_host>
                        <sftp_username translate="label">
                            <label>Username</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <comment><![CDATA[SFTP username for login]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </sftp_username>
                        <sftp_password translate="label">
                            <label>Password</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <comment><![CDATA[SFTP password for login]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </sftp_password>
                        <sftp_remote_path translate="label">
                            <label>Remote path</label>
                            <tooltip>You will receive this information from Ingenico.</tooltip>
                            <comment><![CDATA[Path on the remote SFTP server]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <active>1</active>
                            </depends>
                        </sftp_remote_path>
                    </fields>
                </sftp_settings>
            </groups>
        </ingenico_epayments>
    </sections>
</config>
